@import url("https://fonts.googleapis.com/css?family=Montserrat|Oleo+Script");

html,
body {
  background-color: #fff;
  height: 100%;
  margin: 0px;
}

.content {
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.name {
  font-family: "Oleo Script", cursive;
  font-size: 10em;
  color: #05091b;
  text-shadow: 2px 3px 4px #6441a4;
  margin: 0px;
}

.links {
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
}

a {
  text-decoration: none;
  font-weight: bold;
  margin: 0px 10px 0px 10px;
}

a:hover {
  color: #6441a4 !important;
}

a:link,
a:visited {
  color: #0d122b;
}
